@import "tailwindcss";
@import "tw-animate-css";


/* @font-face {
  font-family: "LaChozaFont";
  src: url("./assets/fonts/Zebulon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

/* ==============================
   THEME BASE — BARBERÍA PREMIUM
   ============================== */
@theme {
  /* Colores principales */
  --color-bg: #0b0b0b; /* negro profundo */
  --color-surface: #141414; /* tarjetas / secciones */
  --color-primary: #d4af37; /* dorado premium */
  --color-primary-soft: #e6c65c; /* dorado suave */
  --color-text: #f5f5f5; /* texto principal */
  --color-muted: #9ca3af; /* texto secundario */
  --color-bg-h: [#151515]; /* texto secundario */

  /* Estados */
  --color-success: #22c55e;
  --color-error: #ef4444;

  /* Tipografías */
  --font-display: "Oswald", sans-serif;
  --font-body: "Inter", system-ui, sans-serif;
  --font-western: "Rye", serif;
  --font-logotipo: "LaChozaFont", serif;

  /* Radios */
  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.25rem;

  /* Sombras */
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.6);
}

@keyframes metallic-sweep {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.text-metallic {
  background-image: linear-gradient(
    135deg,
    #d7b454 10%,
    #e6c65c 20%,
    #f3eab8 35%,
    #e6c65c 50%,
    #b08d2f 65%,
    #d6b249 100%
  );
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: metallic-sweep 10s linear infinite;
}

/* Opcional: Para que el scroll se vea más delgado y elegante */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* zinc-700 */
  border-radius: 10px;
}
